* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(48, 48, 48);

}
.container {
    max-width: 50vw;
    min-height: 30vh;
    margin: 5em auto 0;
}
.container h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: lighter;

}
.container input {
    padding: 0.5em;
    display: inline-block;
    width: 100%;
    border-radius: 0.4em;
    border: none;
    outline: none;
    margin: 0.6em 0;
}
.display {
    padding: 1em;
    border-radius: 0.4em;
    margin-bottom: 0.3em;
    display: none;
}
.display.grams {
    background: rgb(24, 92, 219);
}
.display.kilograms {
    background: rgb(25, 156, 43);
}
.display.ounces {
    background: rgb(216, 81, 63);
}
.show-items{
    display: block;
}